.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    360deg,        /* diagonal direction for a modern look */
    #f7931d 0%,    /* your original orange */
    #f4b44d 50%,   /* lighter orange/yellow mid-tone */
    #f1f1f1 100%   /* light gray at the end */
  );
}

.gbadHeaderLogo {
  width: 20vw;
  mix-blend-mode:darken;
}

.homeLogoAndText{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sub-header {
  padding-top: 2%;
  margin-bottom: -5%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 5%;
  width: 60%;
  color: #000000;
}


.heroText * {
  text-align: left !important;
}

@media screen and (max-width: 966px) {
  .gbadHeaderLogo {
    width: 30vw !important;
  }
  .heroText {
    width: 50% !important;
  }
}

@media screen and (max-width: 768px) {
  .gbadHeaderLogo {
    width: 80vw !important;
  }
  .heroText {
    width: 85% !important;
    margin-left: 0;
  }
}
